# Importing the libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read the DataFrame.

In [2]:
train_dataset = pd.read_csv("./train.csv")
test_dataset = pd.read_csv("./test.csv")

# Get some info about the DataFrame.

In [3]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
round(train_dataset["Age"].mean(),0)

30.0

In [5]:
train_dataset["Age"].fillna(round(train_dataset["Age"].mean(),0), inplace=True)

In [6]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train_dataset["Cabin"].fillna(train_dataset["Cabin"].mode()[0], inplace=True)
train_dataset["Embarked"].fillna(train_dataset["Embarked"].mode()[0], inplace=True)

In [8]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
train_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

In [10]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [11]:
test_dataset["Age"].fillna(round(test_dataset["Age"].mean(),0), inplace=True)
test_dataset["Fare"].fillna(round(test_dataset["Fare"].mean(),0), inplace=True)
test_dataset["Cabin"].fillna(test_dataset["Cabin"].mode()[0], inplace=True)

In [12]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [13]:
train_dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30.0,1,2,W./C. 6607,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,B96 B98,Q

In [14]:
train_dataset["Cabin"].value_counts()

B96 B98        691
G6               4
C23 C25 C27      4
C22 C26          3
F33              3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: Cabin, Length: 147, dtype: int64

In [15]:
train_dataset.drop("Name", axis=1, inplace=True)
test_dataset.drop("Name", axis=1, inplace=True)

In [16]:
train_target = []
for i in train_dataset.columns:
    col = train_dataset[i]
    if type(col[0]) == str:
        train_target.append(i)
        print(i)

Sex
Ticket
Cabin
Embarked

In [17]:
test_target = []
for i in test_dataset.columns:
    col = test_dataset[i]
    if type(col[0]) == str:
        test_target.append(i)
        print(i)

Sex
Ticket
Cabin
Embarked

In [18]:
from sklearn.preprocessing import LabelEncoder
for i in train_target:
    encoder = LabelEncoder()
    encoder.fit(list(train_dataset[i]))
    train_dataset[i] = encoder.fit_transform(train_dataset[i])

In [19]:
from sklearn.preprocessing import LabelEncoder
for i in test_target:
    encoder = LabelEncoder()
    encoder.fit(list(test_dataset[i]))
    test_dataset[i] = encoder.fit_transform(test_dataset[i])

In [20]:
train_dataset["family size"] = train_dataset["SibSp"] + train_dataset["Parch"]

In [21]:
test_dataset["family size"] = test_dataset["SibSp"] + test_dataset["Parch"]

In [22]:
train_dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'family size'],
      dtype='object')

In [29]:
X_train = train_dataset[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Cabin', "Ticket",'Embarked', 'family size']].values
Y_train = train_dataset["Survived"].values

In [30]:
Y_train.shape

(891,)

In [25]:
X_test = test_dataset[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Cabin', "Ticket",'Embarked', 'family size']]

In [31]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X_train, Y_train, test_size=0.2, random_state=101)

In [38]:
from sklearn.ensemble import RandomForestClassifier

In [39]:
rf = RandomForestClassifier(criterion="entropy", max_depth=50,n_estimators=1000,n_jobs=1).fit(X_train, Y_train)

In [40]:
y_predrf = rf.predict(x_test)

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
LR = LogisticRegression().fit(X_train, Y_train)

C:\Users\mohammed\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [43]:
y_predlr = LR.predict(x_test)

In [44]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier(n_neighbors=2).fit(X_train, Y_train)

In [45]:
y_predknn = KNN.predict(x_test)

In [46]:
from sklearn.metrics import accuracy_score

accrf = accuracy_score(y_test, y_predrf)
accrf

1.0

In [47]:
from sklearn.tree import DecisionTreeClassifier

Tree = DecisionTreeClassifier(criterion="entropy", max_depth=25).fit(X_train, Y_train)

In [48]:
y_preddt = Tree.predict(x_test)

In [49]:
accdt = accuracy_score(y_test, y_preddt)
accdt

1.0

In [50]:
accknn = accuracy_score(y_test, y_predknn)
accknn

0.8212290502793296

In [51]:
acclr = accuracy_score(y_test, y_predlr)
acclr

0.8100558659217877

In [52]:
from sklearn.svm import SVC
svm = SVC(kernel="rbf").fit(x_train, y_train)

In [53]:
y_predsvm = svm.predict(x_test)

In [54]:
accsvm = accuracy_score(y_test, y_predsvm)
accsvm

0.659217877094972

In [55]:
final = rf.predict(X_test)

In [82]:
file = pd.read_csv("./gender_submission.csv")

In [49]:
submit = pd.DataFrame({
    "PassengerId" : test_dataset["PassengerId"],
    "Survived" : final,
})

In [50]:
submit.to_csv("./final_submissionrf2.csv", index=False)