In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
train_dataset = pd.read_csv("./train.csv")
test_dataset = pd.read_csv("./test.csv")

In [3]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
train_dataset["Age"].mean()

29.69911764705882

In [10]:
train_dataset["Age"].fillna(train_dataset["Age"].mean(), inplace=True)

In [11]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
train_dataset["Cabin"].fillna(train_dataset["Cabin"].mode()[0], inplace=True)
train_dataset["Embarked"].fillna(train_dataset["Embarked"].mode()[0], inplace=True)

In [15]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [16]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [17]:
test_dataset["Age"].fillna(test_dataset["Age"].mean(), inplace=True)
test_dataset["Fare"].fillna(test_dataset["Fare"].mean(), inplace=True)
test_dataset["Cabin"].fillna(test_dataset["Cabin"].mode()[0], inplace=True)

In [18]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [27]:
train_dataset

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.000000,1,0,7.2500,B96 B98,S
1,2,1,1,female,38.000000,1,0,71.2833,C85,C
2,3,1,3,female,26.000000,0,0,7.9250,B96 B98,S
3,4,1,1,female,35.000000,1,0,53.1000,C123,S
4,5,0,3,male,35.000000,0,0,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.000000,0,0,13.0000,B96 B98,S
887,888,1,1,female,19.000000,0,0,30.0000,B42,S
888,889,0,3,female,29.699118,1,2,23.4500,B96 B98,S
889,890,1,1,male,26.000000,0,0,30.0000,C148,C
890,891,0,3,male,32.000000,0,0,7.7500,B96 B98,Q

In [28]:
train_dataset["Cabin"].value_counts()

B96 B98        691
G6               4
C23 C25 C27      4
C22 C26          3
F33              3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: Cabin, Length: 147, dtype: int64

In [29]:
# train_dataset.drop("Name", axis=1, inplace=True)
# train_dataset.drop("Ticket", axis=1, inplace=True)
test_dataset.drop("Name", axis=1, inplace=True)
test_dataset.drop("Ticket", axis=1, inplace=True)

In [26]:
train_target = []
for i in train_dataset.columns:
    col = train_dataset[i]
    if type(col[0]) == str:
        train_target.append(i)
        print(i)

Sex
Cabin
Embarked

In [30]:
test_target = []
for i in test_dataset.columns:
    col = test_dataset[i]
    if type(col[0]) == str:
        test_target.append(i)
        print(i)

Sex
Cabin
Embarked

In [31]:
from sklearn.preprocessing import LabelEncoder
sex_encoder = LabelEncoder()
cabin_encoder = LabelEncoder()
embarked_encoder = LabelEncoder()

In [32]:
sex_encoder.fit(list(train_dataset["Sex"]))
cabin_encoder.fit(list(train_dataset["Cabin"]))
embarked_encoder.fit(list(train_dataset["Embarked"]))

LabelEncoder()

In [34]:
train_dataset["Sex"] = sex_encoder.fit_transform(train_dataset["Sex"])
test_dataset["Sex"] = sex_encoder.fit_transform(test_dataset["Sex"])
train_dataset["Cabin"] = sex_encoder.fit_transform(train_dataset["Cabin"])
test_dataset["Cabin"] = sex_encoder.fit_transform(test_dataset["Cabin"])
train_dataset["Embarked"] = sex_encoder.fit_transform(train_dataset["Embarked"])
test_dataset["Embarked"] = sex_encoder.fit_transform(test_dataset["Embarked"])

In [36]:
train_dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [37]:
X_train = train_dataset[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Cabin', 'Embarked']]
Y_train = train_dataset["Survived"]

In [38]:
X_test = test_dataset[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Cabin', 'Embarked']]

In [58]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X_train, Y_train, test_size=1/3, random_state=101)

In [144]:
from sklearn.ensemble import RandomForestClassifier

In [176]:
rf = RandomForestClassifier(criterion="entropy", max_depth=2).fit(X_train, Y_train)

In [177]:
y_pred = rf.predict(x_test)

In [133]:
from sklearn.linear_model import LogisticRegression

In [134]:
LR = LogisticRegression().fit(X_train, Y_train)

c:\Users\mohammed\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [109]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier(n_neighbors=5).fit(X_train, Y_train)

In [110]:
y_pred = KNN.predict(x_test)

In [111]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(y_test, y_pred)
acc

0.7946127946127947

In [190]:
from sklearn.tree import DecisionTreeClassifier

Tree = DecisionTreeClassifier(criterion="entropy", max_depth=5).fit(X_train, Y_train)

In [191]:
y_pred = Tree.predict(x_test)

In [164]:
acc = accuracy_score(y_test, y_pred)
acc

0.9831649831649831

In [192]:
final = Tree.predict(X_test)

In [179]:
file = pd.read_csv("./gender_submission.csv")

In [194]:
submit = pd.DataFrame({
    "PassengerId" : test_dataset["PassengerId"],
    "Survived" : final,
})

In [195]:
submit.to_csv("./final_submissionTree.csv", index=False)

In [174]:
from sklearn.svm import SVC

SVM = SVC(kernel="sigmoid").fit(x_train, y_train)

In [142]:
y_pred = SVM.predict(x_test)

In [193]:
acc = accuracy_score(file["Survived"].values, final)
acc

0.9186602870813397